<!DOCTYPE html>
<html lang="en">

<head th:replace="~{base :: head}">

</head>
<style th:replace="~{form :: styleForm}">
</style>

<title>Novo</title>

<body name="body">
    <nav class="navbar navbar-expand navbar-light  d-flex justify-content-between mb-3">
        <div class="navbar-nav ">
            <div class="espacador">

                <h1 onclick=" window.location.href = '/'">Mudi </h1>


            </div>
            <a class="nav-item nav-link active  text-light" href="/">Exibir Pedidos</a>

        </div>
    </nav>

    <div class="container">
        <div class="jumbotron mb-0">
            <h2 class="display-5">Novo Pedido</h1>
        </div>

        <form th:object="${requestNovoProduto}" class="form" th:action="@{/pedido/novo}" method="POST">
            <div>
                <h3>Produto</h3>
                <input th:field="*{nome}" th:errorclass="is-invalid" class="input-group" name="nome"
                    placeholder="nome do produto" />
                <div th:errors="*{nome}" class="invalid-feedback "> </div>

            </div>
            <div>
                <h3>Url</h3>
                <input th:field="*{url}" th:errorclass="is-invalid" class="input-group" name="url"
                    placeholder="url do produto" />
                <div th:errors="*{url}" class="invalid-feedback"> </div>


            </div>
            <div>
                <div>

                    <h3>Imagem
                    </h3>

                    <input th:field="*{imagem}" th:errorclass="is-invalid" class="input-group " name="imagem"
                        placeholder="url da imagem" />
                    <div th:errors="*{imagem}" class="invalid-feedback"></div>
                </div>


            </div>
            <div>
                <h3>Descrição</h3>
            </div>
            <textarea th:field="*{descricao}" th:errorclass="is-invalid" class="input-group" name="descricao"
                placeholder="Adicione detalhes importantes para ajudar o comprador."></textarea>
            </textarea>
            <div th:errors="*{descricao}" class="invalid-feedback">

            </div>
            <button class="btn btn-primary" type="submit">Cadastrar</button>
        </form>
    </div>
</body>

</html>