<!DOCTYPE html>
<html lang="en">

<head th:replace="~{base :: head}">

</head>
<style th:replace="~{base :: style}">
</style>
<title>home</title>

<body name="body">
  <nav class="navbar navbar-expand navbar-light bg-white-50 d-flex justify-content-between mb-3">
    <div class="navbar-nav">
      <div class="espacador">
        <h1 class="link" onclick=" window.location.href = '/'">Mudi </h1>
      </div>
      <div class="d-flex flex ">
        <a th:classappend="${status} == 'todos' ? 'active'" class="nav-item nav-link text-light" href="/">Todos</a>
        <a th:classappend="${status} == 'aguardando' ? 'active'" class="nav-item nav-link text-light"
          href="/aguardando">Aguardando</a>
        <a th:classappend="${status} == 'aprovado' ? 'active'" class="nav-item nav-link text-light"
          href="/aprovado">Aprovado</a>
        <a th:classappend="${status} == 'entregue' ? 'active'" class="nav-item nav-link text-light"
          href="/entregue">Entregue</a>
      </div>
    </div>
    <div class="btnAdd">
      <div class="session-gp">
        <a class="text-light session-bt " sec:authorize="!isAuthenticated()" href="/login">Login</a>
        <a onclick="document.getElementById('form-Login').submit()" class="text-light session-bt "
          sec:authorize="isAuthenticated()" href="#">Logout</a>
        <form id="form-Login" th:action="@{/logout}" method="post"></form>
      </div>
      <a href="/pedido/formulario">
        <button class="btn btn-primary my-2 my-sm-0">
          <ion-icon name="add-circle-outline"> </ion-icon>
          Novo
        </button>
      </a>
    </div>
  </nav>

  <div id="conteudo">
    <div id="container">
      <div class="loop" th:each="pedido : ${pedidos}">
        <div class="produto">
          <div class="imgWrap">
            <img th:src="${pedido.getUrlImagem()}" alt="" />
          </div>
          <div class="anuncio">
            <div>
              <div class="titulo">
                <div th:text="${pedido.nome}"></div>
              </div>
              <div class="valor">
                <h4><span th:text="${#numbers.formatCurrency(pedido.getValor())}"></span></h4>
                em
                <span class="verde">10x de <span th:text="${#numbers.formatCurrency(pedido.getValor() / 10)}"></span>
                  sem juros <br />
                  <a href="#" class="linkPequeno"> ver meios de pagamento</a>
              </div>
              <div class="descricao">
                <p th:text="${pedido.getDescricao()}"></p>
              </div>
            </div>
            <div class="btgroup">
              <button class="btn btn-primary" th:href="${pedido.getUrlProduto()}">
                Comprar Agora
              </button>

              <button class="btn btn-outline-light">
                Adicionar ao carrinho
                <ion-icon name="cart-sharp"></ion-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>